@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.btn_shadow {
  box-shadow: 0px 1px 22px -8px rgba(255,82,191,0.36);
-webkit-box-shadow: 0px 1px 22px -8px rgba(255,82,191,0.36);
-moz-box-shadow: 0px 1px 22px -8px rgba(255,82,191,0.36);
}
